body{
    background-image: url(https://i.pinimg.com/1200x/cd/a3/a1/cda3a1bf1a3db02e925e5a3605bf1114.jpg);
    color: white;
    transform: .55s ;
}
    h2{
    width: 200px;
    background-color:#fce205;
    border-radius: 10px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
}
.recommendtext{
    color: black;
}

.navbar ul{
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    margin: 0px 1px;
    gap: 10px;
    background-color:#262626;
    color: white;
    
}
.navbar ul li{
    justify-content: center;
    align-content: center;
    padding: 0px 2px;
    list-style: none;
    font-size: 32px;
    
}

.navbar ul li img{
    width: 150px;
    height: 70px;
    
}


.navbar ul li a button:hover{
    color: #262626;
    background-color: white;
}

.navbar a button{
    font-size: x-large;
    border: 2px solid white;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    color: white;
    background-color: #262626;
}
a{
        text-decoration: none;
}
.recommend .productbox img{
    width: 200px;
    height: 200px;
    
}
.recommend .productbox{
    list-style: none;

}

.productbox{
    padding: 10px;
        background-color: #363636;
}

.recommend{
    padding: 20px;
    background-color: #262626;
    border: 1px solid white;
    display: flex;
    gap: 20px;
}
.Terpopuler .productbox img{
    width: 200px;
    height: 200px;
    list-style: none;
}
.Terpopuler .productbox{
    list-style: none;list-style: none;
}
.Terpopuler{
    padding: 20px;
    background-color: #262626;
    border: 1px solid white;
    display: flex;
    gap: 20px;
}
button.prev{
    border-radius: 100px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
