body{
    background-image: url(https://i.pinimg.com/1200x/cd/a3/a1/cda3a1bf1a3db02e925e5a3605bf1114.jpg);
    color: white;
    transform: .55s ;
}
    h2{
    width: 200px;
    background-color:#ffa500;
    border-radius: 10px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
}
.recommendtext{
    color: black;
}

.navbar ul{
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    margin: 0px 1px;
    gap: 10px;
    background-color:#262626;
    color: white;
    
}
.navbar ul li{
    justify-content: center;
    align-content: center;
    padding: 0px 2px;
    list-style: none;
    font-size: 32px;
    
}

.navbar ul li img{
    width: 150px;
    height: 70px;
    
}


.navbar ul li a button:hover{
    color: #262626;
    background-color: white;
}

.navbar a button{
    font-size: x-large;
    border: 2px solid white;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    color: white;
    background-color: #262626;
}
a{
        text-decoration: none;
}
.recommend .productbox img{
    width: 200px;
    height: 200px;
    
}
.recommend .productbox{
    list-style: none;

}

.productbox{
    list-style: none;
    width: 200px;
    background-color: #363636;
    padding: 15px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: 0.3s;
}

.recommend{
    padding: 20px;
    background-color: rgba(38, 38, 38, 0.9);
    border: 1px solid white;
    
    display: flex;        
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
    margin-bottom: 50px;
}
.Terpopuler .productbox img{
    width: 200px;
    height: 200px;
    list-style: none;
}
.Terpopuler .productbox{
    list-style: none;list-style: none;
}
.Terpopuler{
    padding: 20px;
    background-color: rgba(38, 38, 38, 0.9);
    border: 1px solid white;
    
    display: flex;         
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
    margin-bottom: 50px;
}
button.prev{
    border-radius: 100px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.productbox:hover{
    transform: translateY(-5px);
    background-color: #454545;
}
.productbox img{
    width: 100%;
    height: 180px;
    object-fit: contain;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 10px;
}
.productbox p{
    font-size: 14px;
    color: white;
    margin: 5px 0 0 0;
}
